@{
    ViewBag.Title = "Kaitlyn Rules";
}

<div class="container">
	<h1>Happy Birthday Kaitlyn!</h1>
	<div class="wrapper">
		<ul id="sb-slider" class="sb-slider">
			<li>
				<img src="~/Content/Images/1.jpg" />

			</li>
			<li>
				<img src="~/Content/Images/IMG_3398.JPG" />

			</li>
			<li>
				<img src="~/Content/Images/img_3750.jpg" />

				
			</li>
			<li>
				<img src="~/Content/Images/IMG_3402.JPG" />

			</li>
			<li>
				<img src="~/Content/Images/IMG_3428.JPG" />

			</li>
			<li>
				<img src="~/Content/Images/IMG_3432.JPG" />

			</li>
			<li>
				<img src="~/Content/Images/IMG_3724.JPG" />

		
			</li>
			<li>
				<img src="~/Content/Images/img_3755.jpg" />

		
			</li>
		</ul>

		<div id="shadow" class="shadow"></div>
		<div id="nav-arrows" class="nav-arrows">
			<a href="#">Next</a>
			<a href="#">Previous</a>
		</div>
		<div id="nav-options" class="nav-options">
			<span id="navPlay">Play</span>
			<span id="navPause">Pause</span>
		</div>
		<audio autoplay="autoplay" loop="loop" style="bottom: -25px; position: absolute"controls>
			<source src="~/Content/Audio/My Song.m4a" type="audio/mp4">
			Your browser does not support the audio element.
		</audio>
	</div>
</div>
@section Scripts{
	<script>
		$(function () {

			var Page = (function () {

				var $navArrows = $('#nav-arrows').hide(),
					$shadow = $('#shadow').hide(),
					slicebox = $('#sb-slider').slicebox({
						onReady: function () {

							$navArrows.show();
							$shadow.show();
							slicebox.play();

						},
						orientation: 'r',
						cuboidsRandom: true,
						disperseFactor: 30,
						interval: 6000

					}),

					init = function () {

						initEvents();

					},
					initEvents = function () {

						// add navigation events
						$navArrows.children(':first').on('click', function () {

							slicebox.next();
							return false;

						});

						$navArrows.children(':last').on('click', function () {

							slicebox.previous();
							return false;

						});

						$('#navPlay').on('click', function () {

							slicebox.play();
							return false;

						});

						$('#navPause').on('click', function () {

							slicebox.pause();
							return false;

						});


					};

				return { init: init };

			})();

			Page.init();

		});
	</script>
}